.top {
    display: flex;
    justify-content:space-evenly;
    padding: 60px;
}
.top th:nth-child(1) {
    background-color: #88C2CE;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    
}

.top td:nth-child(1) {
    border: 5px solid #626461;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #626461;
    color: #F4F9FC;

}

.top td:nth-child(2){
    border: 5px solid #F4F9FC;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #626461;
    background-color: #F4F9FC;
}

.top a {
    background-color: #F4F9FC;
}

.top th:nth-child(2) {
    background-color: #88C2CE;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.top .info {
    font-size: 25px;
}

.top .contact {
    display: inherit;
    font-size: 25px;
}

.top td img {
    background-color: #88C2CE;
}

.top .contact input[type=text] {
    width: 130px;
    border: 2px solid #10100F;
    border-radius: 25px;
    font-size: 16px;
    background-color: #F4F9FC;
    background-position: 10px 10px; 
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out
  }
  
.top .contact input[type=text]:focus {
    width: 100%;
    padding-bottom: 30%;
    margin-bottom: 0px;
  }

  .top .contact input[type=email] {
    width: 130px;
    border: 2px solid #10100F;
    border-radius: 25px;
    font-size: 16px;
    background-color: #F4F9FC;
    background-position: 10px 10px; 
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out
  }
  
.top .contact input[type=email]:focus {
    width: 100%;

  }

h2 {
    padding-bottom: 20px;
    font-weight: 800;
  }